<form autocomplete="off" onsubmit="event.preventDefault();">
<!--    <p class="notes">Configure this tiling sprite.</p>-->
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="parallaxia" data-tab="base">
        <a class="item" data-tab="base"><i class="fas fa-border-style"></i> Properties</a>
        <a class="item" data-tab="filters"><i class="fab fa-free-code-camp"></i> Effects</a>
    </nav>

    <section id="parallaxia-tabs" class="content">
        <div class="tab base" data-group="parallaxia" data-tab="base">
            <div class="form-group">
                <label for="id">ID</label>
                <div class="form-fields">
                    <input type="text" name="id" value="{{document.id}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <div class="form-fields">
                    <input type="text" name="initial.name" placeholder="Name" value="{{parallaxia.current.name}}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="img">Tiling Sprite</label>
                <div class="form-fields">
                    {{filePicker target="initial.texture.path" type="imagevideo"}}
                    <input class="image" type="text" name="initial.texture.path" placeholder="path/image.png"
                           value="{{parallaxia.current.texture.path}}"/>
                </div>
            </div>

            <!--    INITIAL VALUES -->
            <h2 class="form-header"><i class="fab fa-mixcloud"></i> Tile Parameters <a class="ptransformHelp"><i
                    class="far fa-question-circle"> (help)</i></a></h2>
            <!--            <p class="notes">State on scene launch.</p>-->

            <!--    <h3 class="form-header">Base</h3>-->
            <div class="form-group">
                <label for="state_header"></label>
                <label for="state_header">Initial</label>
                <label for="state_header">Current</label>
                <!--                <input size="6" type="text" name="header_initial" value="INITIAL" data-dtype="Number" readonly disabled="disabled"/>-->
                <!--                <input width="50px" type="text" name="header_current" value="CURRENT" data-dtype="Number" readonly disabled="disabled"/>-->
            </div>

            <div class="form-group flexrow">
                <label for="curr_texture_width">Texture Size<span class="units"> (px)</span></label>
                <input size="6" type="text" name="curr_texture_width" value="{{parallaxia.current.texture.width}}"
                       data-dtype="Number" readonly disabled="disabled"/>
                <input width="50px" type="text" name="curr_texture_height" value="{{parallaxia.current.texture.height}}"
                       data-dtype="Number" readonly disabled="disabled"/>
            </div>

            <div class="form-group flexrow">
                <label for="init_position_x">X-Position <span class="units">(px)</span></label>
                <input type="text" name="initial.position.x" value="{{parallaxia.initial.position.x}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_x" value="{{parallaxia.current.position.x}}" data-dtype="Number" readonly
                       disabled="disabled"/>
            </div>

            <div class="form-group flexrow">
                <label for="init_position_y">Y-Position <span class="units">(px)</span></label>
                <input type="text" name="initial.position.y" value="{{parallaxia.initial.position.y}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_y" value="{{parallaxia.current.position.y}}" data-dtype="Number" readonly
                       disabled="disabled"/>
            </div>

            <div class="form-group flexrow">
                <label for="init_position_x">ΔX <span class="units">(px/s)</span></label>
                <input type="text" name="initial.position.dx" value="{{parallaxia.initial.position.dx}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_dx" value="{{parallaxia.current.position.dx}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>

            <div class="form-group flexrow">
                <label for="init_position_y">ΔY <span class="units">(px/s)</span></label>
                <input type="text" name="initial.position.dy" value="{{parallaxia.initial.position.dy}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_dy" value="{{parallaxia.current.position.dy}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>

            <div class="form-group flexrow">
                <label for="init_width">Width <span class="units">(px)</span></label>
                <input type="text" name="initial.width" value="{{parallaxia.initial.width}}" data-dtype="Number"/>
                <input type="text" name="curr_width" value="{{parallaxia.current.width}}" data-dtype="Number" readonly
                       disabled="disabled"/>
            </div>

            <div class="form-group flexrow">
                <label for="init_height">Height <span class="units">(px)</span></label>
                <input type="text" name="initial.height" value="{{parallaxia.initial.height}}" data-dtype="Number"/>
                <input type="text" name="curr_height" value="{{parallaxia.current.height}}" data-dtype="Number" readonly
                       disabled="disabled"/>
            </div>

            <div class="form-group">
                <label for="init_rotation">Rotation <span class="units">(rad)</span></label>
                <input type="text" name="initial.rotation.z" value="{{parallaxia.initial.rotation.z}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_rotation" value="{{parallaxia.current.rotation.z}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>

            <div class="form-group">
                <label for="init_tint">Tint <span class="units"></span></label>
                <!--            <input type="text" name="initial.tint" value="{{object.parallaxia.initial.tint}}"/>-->
                <input class="flex2" type='color' name='initial.tint' value="{{parallaxia.initial.tint}}"/>
                <input type="text" name="curr_tint_str" value="{{parallaxia.current.tint}}" readonly
                       disabled="disabled"/>
            </div>

            <div class="form-group">
                <label for="init_alpha">Alpha <span class="units">(0..1)</span></label>
                <input type="text" name="initial.alpha" value="{{parallaxia.initial.alpha}}" data-dtype="Number"/>
                <input type="text" name="curr_alpha" value="{{parallaxia.current.alpha}}" data-dtype="Number" readonly
                       disabled="disabled"/>
            </div>

            <!--   Texture Tiling -->
            <h3 class="form-header">Texture and Tiling</h3>

            <div class="form-group">
                <label for="init_scale_x">X-Scale <span class="units">(x)</span></label>
                <input type="text" name="initial.tiling.sx" value="{{parallaxia.initial.tiling.sx}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_scale_x" value="{{parallaxia.current.tiling.sx}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="init_scale_y">Y-Scale <span class="units">(x)</span></label>
                <input type="text" name="initial.tiling.sy" value="{{parallaxia.initial.tiling.sy}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_scale_y" value="{{parallaxia.current.tiling.sy}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>

            <div class="form-group">
                <label for="init_speed_x">ΔX-Scale <span class="units"></span></label>
                <input type="text" name="initial.tiling.sdx" value="{{parallaxia.initial.tiling.sdx}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_speed_sx" value="{{parallaxia.current.tiling.sdx}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="init_speed_y">ΔY-Scale <span class="units"></span></label>
                <input type="text" name="initial.tiling.sdy" value="{{parallaxia.initial.tiling.sdy}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_speed_sy" value="{{parallaxia.current.tiling.sdy}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>

            <div class="form-group">
                <label for="init_tiling_x">X-Offset <span class="units">(px)</span></label>
                <input type="text" name="initial.tiling.x" value="{{parallaxia.initial.tiling.x}}" data-dtype="Number"/>
                <input type="text" name="curr_tiling_x" value="{{parallaxia.current.tiling.x}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="init_tiling_y">Y-Offset <span class="units">(px)</span></label>
                <input type="text" name="initial.tiling.y" value="{{parallaxia.initial.tiling.y}}" data-dtype="Number"/>
                <input type="text" name="curr_tiling_y" value="{{parallaxia.current.tiling.y}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>


            <div class="form-group">
                <label for="init_speed_x">ΔX Offset <span class="units">(px/s)</span></label>
                <input type="text" name="initial.tiling.dx" value="{{parallaxia.initial.tiling.dx}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_speed_x" value="{{parallaxia.current.tiling.dx}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="init_speed_y">ΔY Offset <span class="units">(px/s)</span></label>
                <input type="text" name="initial.tiling.dy" value="{{parallaxia.initial.tiling.dy}}"
                       data-dtype="Number"/>
                <input type="text" name="curr_speed_y" value="{{parallaxia.current.tiling.dy}}" data-dtype="Number"
                       readonly disabled="disabled"/>
            </div>

            <!--    Custom script -->
            <h2 class="form-header">
                <i class="fas fa-bug"></i> Custom Script
                <a class="ptransformHelp"><i class="far fa-question-circle"></i></a>
            </h2>
            <p class="notes">Custom script to modify the tile on the fly.</p>


            <div class="form-group stacked command">

                <label>
                    <textarea placeholder="Code" name="ptransform" rows="10" spellcheck="false">{{parallaxia.ptransform}}</textarea>
                </label>
            </div>

        </div>

        <!--   Filter Settings -->
        <div class="tab filters" data-group="parallaxia" data-tab="filters">
            <div class="filter-list">
                <article class="filter-wrapper" data-sort-name="name">
                    <h2 class="filter-header" onclick="$(this).toggleClass('open'); $(this).next('.filter-settings-wrapper').slideToggle(150);">
                        <span class="toggle-icon">
                            <i class="far fa-plus-square"></i>
                            <i class="far fa-minus-square"></i>
                        </span>Blend Mode
                    </h2>
                    <section class="filter-settings-wrapper" style="display: none;">
                        <div class="form-group">
                            <label>Blend Mode</label>
                            <select name="initial.blendMode">
                                {{#select currentBlendMode}}
                                {{#each blendModes}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </section>
                </article>

            </div>
        </div>

    </section>

    <!--        See MacroConfig for apply button functionality -->
    <footer class="sheet-footer flexrow">
        <!--        <button type="apply" name="apply" value="1"><i class="far fa-apply"></i> Apply </button>-->
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{submitText}}</button>
    </footer>
</form>
